<div class="align-items-center" style=''>
  <div class="row-lg token-side-l scroll-background-img"  ng-repeat='token in token_dict' >
    <div class=" row my-1 justify-content-around align-items-center mx-1" >
      <div class="col-2 align-items-center">
        <!-- <div class="col-md-4"> -->
          <!-- </div> -->
          <!-- <div class="col justify-content-md-center " ng-if='!tokenFormControll.enabled'> -->
        <button ng-if='token.token_refs' type="button" name="remove" class="btn btn-warning m-1" ng-click='removeTokenOnClick(token)'>Remove</button>
        <button ng-if='!token.token_refs' type="button" name="redraw" class="btn btn-primary m-1" ng-click='redrawTokenOnClick(token)'>Redraw</button>
        <button type="button" name="redraw" class="btn btn-primary m-1" ng-click='editTokenOnClick(token)'>Edit</button>
        <!-- </div> -->
      </div>
      <div class="col-2 text-center m-0 px-0">
        <img class="img-fluid" src="./../../static/icons/heart-50.png" >
        <h3>{{token.hp_max}}</h3>
      </div>
      <div class="col-2 text-center m-0 px-0">
        <img class="img-fluid" src="./../../static/icons/shield-50.png" width="50px" height="50px">
        <h3>{{token.ca}}</h3>
      </div>
      <div class="col-2 text-center m-0 px-0">
        <img class="img-fluid" src="./../../static/icons/walking-50.png" width="50px" height="50px">
        <h3>{{token.mov}}</h3>
      </div>
      <div class="col text-center my-3 ml-4" style=''>
        <img ng-src="{{token.token_image}}" alt="" class="img-fluid  rounded-circle" style='border-color : {{token.color}}; max-width:80%; position:relative; top : 2vh;'>
        <div class="text-center p-0" style='position:relative' >
          <h3 style='font-family : MedievalSharp'>{{token.name}}</h3>
        </div>
      </div>
    </div>
  </div>

</div>
